html, body {
    height:100%;
}

.inline-icon {
    font-family:FontAwesome;
}

/*=
HEADER
------------------------------------------------------------------------------------*/

#heading-wrapper {
    opacity:0.5;
    position:fixed;
    z-index:1000;
}

#heading-wrapper.open {
    opacity:1;
}

.menu-icon-wrapper {
    height:36px;
    width:45px;
    padding:10px 13px 10px 13px;
}

.menu-icon-line {
    margin-top:2px;
    margin-bottom:1px;
    height:3px;
    width:100%;
    background-color: #ffffff;
    border-radius: 2px;
}

#andrew-info {
    top:7px;
    left:45px;
    color:white;
    line-height:24px;
    font-size:20px;
    position:fixed;
}

/*=
MAIN SECTION BLOCKS
------------------------------------------------------------------------------------*/
.section-block {
    height:50.000000005%;
    width:50.000000005%;
    display:inline-block;
    position:relative;
    text-align: center;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.section-block:hover{
    opacity:0.7;
}

#web-block {
    background-color: #f08a1b;
    float:left;
}

#android-block {
    background-color:#A4C639;
    float:right;
}

#research-block {
    background-color:#3498db;
    float:left;
}

#resume-block {
    background-color:#34495e;
    float:right;
}

/*=
CONTENT WITHIN BLOCKS
------------------------------------------------------------------------------------*/

.block-icon {
    color:#ffffff;
    font-family: FontAwesome;
    font-size:140px;
    line-height: 160px;
    padding-top:40px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.block-header {
    color:white;
    font-size:44px;
    line-height:47px;
    text-align: center;
}

@media(max-width:640px) and (max-height:575px){

    .block-icon {
        font-size:50px;
        line-height: 70px;
        padding-top:60px;
    }

    .block-header {
        font-size:20px;
        line-height:30px;
    }
}

.more-button {
    position:absolute;
    bottom:0;
    right:0;
    padding:10px;
    color:white;
    font-size:20px;
}