/* VARIABLES
   ========================== */
@navbar-height:         52px;
@univ-padding:          20px;
@tight-padding:         10px;
@univ-border-radius:    5px;
@header-font-size:      16px;
@text-font-size:        14px;
@label-font-size:       12px;
@profile-height:        50px;
@home-button-height:    40px;

@home-header-height:    @profile-height + @univ-padding + @home-button-height;
@navbar-button-margin:  (@navbar-height - @home-button-height)/2;

@transition-time:       0.3s;
@long-transition-time:  0.6s;
@spring-curve:          0.28, 1.45, 0.26, 0.99;
@spring-animation-time: 0.55s;

/* COLORS
   ========================== */
@light-grey:            #dddddd;
@red:                   #e74c3c;
@yellow:                #f9bf3b;
@green:                 #2ecc71;
@blue:                  #3498db;
@purple:                #9b59b6;

/* FUNCTIONS
   ========================== */
.transition {
    -webkit-transition: all @transition-time ease;
    -moz-transition: all @transition-time ease;
    -o-transition: all @transition-time ease;
    -ms-transition: all @transition-time ease;
    transition: all @transition-time ease;
}

.spring-transition {
    -webkit-transition: all @spring-animation-time cubic-bezier(@spring-curve);
    -moz-transition: all @spring-animation-time cubic-bezier(@spring-curve);
    -o-transition: all @spring-animation-time cubic-bezier(@spring-curve);
    -ms-transition: all @spring-animation-time cubic-bezier(@spring-curve);
    transition: all @spring-animation-time cubic-bezier(@spring-curve);
}

.transition-long {
    -webkit-transition: all @long-transition-time ease;
    -moz-transition: all @long-transition-time ease;
    -o-transition: all @long-transition-time ease;
    -ms-transition: all @long-transition-time ease;
    transition: all @long-transition-time ease;
}
.gradient-color(@color) {
    background-image: linear-gradient(45deg, @color 0%, lighten(saturate(@color, 15%), 5%) 100%);
}

/* IMPORTS
   ========================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* STYLES
   ========================== */
html {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: @navbar-height;
    background-size: 100% auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.home-wrapper {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 1;
    font-size: @header-font-size;

    &:not(.active) {
        .spring-transition;
        top: -@home-header-height - @navbar-button-margin !important;
        padding-bottom: @navbar-button-margin;
        border-bottom: 1px solid @light-grey;
    }

    .profile-header {
        margin-bottom: @univ-padding;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;
        height: 50px;

        .profile-pic {
            width: 50px;
            height: 50px;
            border: 3px solid white;
            border-radius: 50px;
            margin-right: @tight-padding;
        }

        .profile-description {
            left: 60px;
            line-height: 25px;
            font-weight: bold;
        }
    }

    .button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .home-button {
            background-color: rgba(200,200,200, 0.4);
            width: 150px;
            height: 40px;
            line-height: 40px;
            border-radius: @univ-border-radius;
            font-weight: bold;
            text-transform: capitalize;
            .transition;

            &.purple { .gradient-color(@purple); }
            &.red { .gradient-color(@red); }
            &.blue { .gradient-color(@blue); }
            &.yellow { .gradient-color(@yellow); }


            &.active {
                opacity: 0.5;
            }

            &:hover:not(.active) {
                opacity: 0.70;
                cursor: pointer;
            }

            &:not(:last-child) {
                margin-right: @univ-padding;
            }

            i {
                margin-left: @tight-padding;
                font-size: 17px;
            }
        }
    }
}

.section-wrapper {
    position: absolute;
    width: 100%;
    height:100%;
    color: black;
    background-color:black;
    z-index: 0;
    font-size: @header-font-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: @univ-padding;
    padding-left: @univ-padding;
    overflow-y: scroll;

    .card {
        width: 300px;
        height: 200px;
        background-color: white;
        margin-right: @univ-padding;
        margin-bottom: @univ-padding;
    }
}