@univ-padding: 20px;
@dark-text-color: #222;
@light-text-color: #fff;
@box-shadow: 0 0 10px rgba(0,0,0,0.5);
@text-shadow: 0 0 10px rgba(0,0,0,0.7);
@black-overlay-color: rgba(23,23,23,0.6); //rgba(23,23,23,0.7) original
@white-overlay-color: rgba(125,125,125,0.4); //rgba(77,77,77,0.3) original

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-long {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

html {
    height: 100%;
    padding-top:46px; //for navbar
    background: url("../img/bg.jpg");
    background-size: 100% auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0);
    font-family: 'Lato', sans-serif;
    position:relative;
    height:100%;
    display: table;
    margin: 0;
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.heading-wrapper {
    position: fixed;
    width: 100%;
    height: 46px;
    top: 0px;
    left: 0px;
    right: 0px;
    color: @light-text-color;
    z-index: 1000;
    @import "menu-button-style.less";

    & > * {
        display: inline-block;
    }

    .back-button {
        position: relative;
        left: 33%;
        opacity: 0;
        height: 100%;
        line-height: 46px;
        font-size: 17px;
        padding-left: @univ-padding /2 - 2; //small adjustments
        padding-right: @univ-padding /2;
        text-shadow: @text-shadow;
        .transition-long;

        &.open {
            left: 0;
            opacity: 1;

            &:hover { cursor: pointer; }
        }

        i {
            margin-right: @univ-padding /2;
        }
    }
}

.side-menu {
    position:fixed;
    width: 0;
    height: 100%;
    z-index:500;
    right: 0;
    bottom: 0;
    top: 0;
    overflow:hidden;
    overflow-y:auto!important;
    .transition;

    &.open {
        width: 300px;
    }

    .spacer {
        width: 100%;
        height: 46px;
        background-color: @black-overlay-color;
        border-bottom: 1px solid rgba(255,255,255,0.15);
    }


    .content {
        position: absolute;
        top: 46px;
        left: 0px;
        bottom: 0px;
        width: 300px;
        color: @light-text-color;
        background: @black-overlay-color;
        overflow-y: auto!important;

        .list-header {
            width: 100%;
            padding-left: @univ-padding;
            padding-right: @univ-padding;
            padding-top: @univ-padding /4;
            padding-bottom: @univ-padding /4;
            font-size: 13px;
            background: rgba(23,23,23,0.3);
        }

        .list {
            width: 100%;

            .list-item {
                width: 100%;
                display: block;
                padding: @univ-padding;
                color: @light-text-color;
                font-size: 16px;
                line-height: 20px;
                .transition;

                &:hover {
                    background: rgba(255,255,255,0.15);
                    cursor: pointer;
                }

                i {
                    margin-right: @univ-padding;
                    width: @univ-padding;
                    text-align: center;
                }
            }
        }

    }

    .bg-blur {
        position: absolute;
        width: 500px;
        height: 100%;
        top: 0;
        right: 0;
        background: url("../img/bg-blur.jpg");
        z-index: -1;
    }
}

.home-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;

    .profile-header {
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        .profile-pic {
            position: absolute;
            left: 50%;
            margin-left: -100px;
            width: 200px;
            height: 200px;
            border: 5px solid white;
            border-radius: 50%;
            box-shadow: @box-shadow;
        }

        .profile-description {
            padding-top: 210px;
            font-size: 30px;
            line-height: 40px;
            text-shadow: @text-shadow;
        }
    }

    .button-wrapper {
        margin-top: @univ-padding;

        .col-xs-6 {

            .btn {
                display: block;
                min-width: 250px;
                padding: @univ-padding;
                font-size: 18px;
                line-height: 20px;
                border: 2px solid white;
                border-radius: 5px;
                text-shadow: @text-shadow;
                box-shadow: @box-shadow;
                background-color: rgba(23,23,23,0.4);
                .transition;

                &:first-child {
                    margin-bottom: @univ-padding;
                }

                &:hover {
                    color: white;
                    background-color: rgba(23,23,23,0.7);
                }
            }
        }
    }
}

.section-wrapper {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    .transition-long;

    &.open {
        top: 46px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: @white-overlay-color;
    }

    .bg-blur {
        position: absolute;
        width: 500px;
        height: 100%;
        top: -100%;
        right: 0;
        background: url("../img/bg-blur.jpg");
        z-index: -1;

        -webkit-transition: top 0.6s ease;
        -moz-transition: top 0.6s ease;
        -o-transition: top 0.6s ease;
        -ms-transition: top 0.6s ease;
        transition: top 0.6s ease;
    }

    &.open .bg-blur {
        top: -46px;
    }
}

.transparent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .transition-long;

    &.menu-open {
        z-index: 499;
    }

    &.section-open {
        background: rgba(0,0,0,0.4);
        z-index: 99;
    }
}